*{
    padding: 0px;
    margin: 0px;
    outline-color: black;
}

.wrapper{
    height: 1040px;
    width: 980px;
    margin: 0 auto;
}

.head{
    background-color: #696144;
    padding: 6px;
}

h1{
    text-align: center;
    padding: 18px;
}

.button{
    border-radius: 5px;
    padding: 5px;
    background-color: #998E69;
    color: black;
    font-size: small;
    display: inline-block;
    margin-top: 4px;
}

p{
    padding: 10px;
    background-color: #C2B894;
}


.button_group{
    vertical-align: top;
    display: inline-block;

}
.edit_header{
    font-size: 28   px;
    display: block;
    background-color:#998E69 ;
    padding: 13px;
}
.text{
    width: 980px;
    height: 140px;
}
.create{
    height: 157px;
    width: 980px;
}
.create_text{
    width: 980px;
    height: 106px;
}
.edit_page{
    display: inline-block;
    vertical-align: top;
}
.link{
    font-size: 24px;
    color:#998E69 ;
}